./backend/.env
backend/.env
.env

configs

cloudbite-chart/templates/backend-secrets.yaml
cloudbite-chart/templates/mongodb-secrets.yaml

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Terraform variables
*.tfvars

# Sensitive files
*.pem
*.key

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# OS
.DS_Store

notes.txt
